.quiz {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
  }
  
  .title {
    font-family: "Roboto Slab";
    font-size: 48px;
  }
  
  .text {
    font-family: "Roboto Slab";
    font-size: 24px;
    text-align: center;
  }