.title {
    font-family: "Roboto Slab";
    font-size: 48px;
  }
  
  .text {
    font-family: "Roboto Slab";
    font-size: 32px;
    text-align: center;
    width: 70%;
    color: white;
  }
  
  .score{
    font-size: 24px;
  }

  .learn a {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
  }