.layoutContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  position: relative;
  width: 430px;
  height: 932px;
  margin: auto;
}

.main {
  display: flex;
  padding: 80px 0;
  overflow-y: auto;
  background: #0a4e9f;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}