.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text {
  font-family: "Rubik Glitch";
  font-size: 64px;
  color: white;
}

.contentsContainer {
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.contents {
  margin-top: 20px;
  font-size: 1.5rem;
}

.contents ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding: 20px 0;
}

.contents ul li {
  text-align: left;
}

.loading,
.error {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.error {
  color: #a4a4a4;
}

.contentsContainer h2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1.3rem;
  line-height: 3rem;
}

.article {
  display: block;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
}