.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  }

.text{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 32px;
  color: white;
  text-align: center;
}

.text2{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 32px;
  color: white;
  text-align: center;
  top: -80px;
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bear {
  display: flex;
  align-items: center;
  justify-content: column;
  top: -40px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: column;
  bottom: -50px;
}