.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  }

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bear {
  display: flex;
  align-items: center;
  justify-content: column;
}

.button {
  display: flex;
  align-items: center;
  justify-content: column;
}